.woocommerce{

    div.product {
            padding: 20px 20px;
            box-shadow: 0px 6px 4px rgb(33 33 33 / 26%);
            margin-bottom: 2em !important;
            h1{
                font-size: 1.5em;
                font-weight: 700;
            }
            .woocommerce-product-gallery{
                //width: 35% !important;
                display: none;
            }
            .summary{
                width: 100% !important;
                .product_meta{
                    .posted_in{
                        display: block;      
                    }      
                    span{
                        font-weight: 700;
                        a{
                            color: $redDdb !important;
                        }
                    }
                    .wb-posted_in{
                        margin-top: 0;
                        a{
                            color: $redDdb;
                        }
                    }
                }
                .woocommerce-product-details__short-description{
                    color: $grayDdb;
                }
            }
        }
    }

.button.single_add_to_cart_button.button.alt {
    background-color: $redDdb;
    &:hover{
        background-color: $blueDdb;
    }
}

.wc-product-contact-info{
    cursor: pointer;
    margin-top: 20px;
    .txt-call-btn{
        padding: 10px;
        border-bottom: 1px solid #bdbdbd;
    }
    .btn-img-call{
        margin-right: 10px;
        color: $grayDdb;
        font-size: 2em;
    }
    .gray-txt{
        color: $grayDdb;
    }
    .green-txt{
        color: $blueDdb;
        margin-left: 10px;
    }
}
