
.clase_inicio{
    background-image: url( $data-svg-prefix + map-get( $icons, 'linkedin' ) );
    width: 100px;
    height: 100px;
}

.ddb-icon{
    width: 15px;
    height: 15px;  
    display: inline-block; 
}

.icon-clock-white{
    background-repeat: no-repeat;
    background-position: center;
    background-image: get-icon( 'clock', #fff );
}

.icon-phone-white{
    background-repeat: no-repeat;
    background-position: center;
    background-image: get-icon( 'phone', #fff );
}

.icon-mail-white{
    background-repeat: no-repeat;
    background-position: center;
    background-image: get-icon( 'mail', #fff );
}

.icon-location-white{
    background-repeat: no-repeat;
    background-position: center;
    background-image: get-icon( 'location', #fff );
}

.icon-exit-white{
    background-repeat: no-repeat;
    background-position: center;
    background-image: get-icon( 'exit', #fff );
}

.icon-search-white{
    background-repeat: no-repeat;
    background-position: center;
    background-image: get-icon( 'search', #fff );
}

.icon-linkedin-white{
    background-repeat: no-repeat;
    background-position: center;
    background-image: get-icon( 'linkedin', #fff);
    &:hover{
        background-image: get-icon( 'linkedin', $redDdb);
    }   
}

/*
*---------RED-----------------
*/

.icon-clock-red{
    background-repeat: no-repeat;
    background-position: center;
    background-image: get-icon( 'clock', $redDdb);
}
.icon-postal-red{
    background-repeat: no-repeat;
    background-position: center;
    background-image: get-icon( 'postal', $redDdb);
}

.icon-agent-red{
    background-repeat: no-repeat;
    background-position: center;
    background-image: get-icon( 'agent', $redDdb);
}

.icon-export-red{
    background-repeat: no-repeat;
    background-position: center;
    background-image: get-icon( 'export', $redDdb);
}
.icon-certificate-red{
    background-repeat: no-repeat;
    background-position: center;
    background-image: get-icon( 'certificate', $redDdb);
}

.icon-phone-red{
    background-repeat: no-repeat;
    background-position: center;
    background-image: get-icon( 'phone', $redDdb );
}

.icon-mail-red{
    background-repeat: no-repeat;
    background-position: center;
    background-image: get-icon( 'mail', $redDdb);
}

.icon-location-red{
    background-repeat: no-repeat;
    background-position: center;
    background-image: get-icon( 'location', $redDdb);
}

/*
*---------GRAY-----------------
*/

.icon-compromiso-gray{
    background-repeat: no-repeat;
    background-position: center;
    background-image: get-icon( 'compromiso', $grayDdb);
}
.icon-responsabilidad-gray{
    background-repeat: no-repeat;
    background-position: center;
    background-image: get-icon( 'responsabilidad', $grayDdb);
}
.icon-respeto-gray{
    background-repeat: no-repeat;
    background-position: center;
    background-image: get-icon( 'respeto', $grayDdb);
}
.icon-search-gray{
    background-repeat: no-repeat;
    background-position: center;
    background-image: get-icon( 'search', $grayDdb );
}

.icon-contacto-gray{
    background-repeat: no-repeat;
    background-position: center;
    background-image: get-icon( 'contacto', $grayDdb );
}


/*
*----------------- Turqoise----------------
*/

.icon-exit-blue{
    background-repeat: no-repeat;
    background-position: center;
    background-image: get-icon( 'exit', #42bbca );
}